@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    .wrap,
    .fancybox__container
    {
        zoom: .63;
    }

    @-moz-document url-prefix()
    {
        html
        {
            width: calc(100% / .63);
            height: calc(100% / .63);

            transform: scale(.63);
            transform-origin: left top;
        }
    }



    /*---------------
        Esperavir
    ---------------*/
    .esperavir .indications .data
    {
        width: 868px;
    }



    /*---------------
        Areplivir
    ---------------*/
    .areplivir .viruses .info
    {
        padding: 52px;
    }


    .areplivir .safety_use .info
    {
        width: 824px;
    }
}
