@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 18px;
        --font_size_title: 36px;
    }


    .wrap,
    .fancybox__container
    {
        zoom: 1;
    }



    .swiper-button-next,
    .swiper-button-prev
    {
        top: -110px;

        width: 64px;
        height: 64px;
    }

    .swiper-button-prev
    {
        right: 80px;
    }

    .swiper-button-next .icon,
    .swiper-button-prev .icon
    {
        width: 28px;
        height: 14px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }


    .fancybox__content > .carousel__button.is-close
    {
        top: -20px;
        right: -20px;

        width: 56px;
        height: 56px;
    }


    .modal.fancybox__content > .carousel__button.is-close svg,
    .modal + .carousel__button.is-close svg
    {
        width: 20px;
        height: 20px;
    }



    /*---------------
        Load more
    ---------------*/
    .load_more
    {
        margin-top: 52px;
    }


    .load_more .btn
    {
        padding: 20px 72px;

        border-radius: 40px;
    }



    /*----------------
        Datepicker
    ----------------*/
    .air-datepicker
    {
        --adp-day-cell-height: 50px;
        --adp-month-cell-height: 50px;
    }


    .air-datepicker-cell,
    .air-datepicker-cell.-current-,
    .air-datepicker-cell.-day-.-other-month-,
    .air-datepicker-cell.-year-.-other-decade-
    {
        margin-top: 0;
    }



    /*------------
        Header
    ------------*/
    header
    {
        z-index: 90;

        padding: 24px 0;
    }

    header.border
    {
        margin-bottom: 48px;
        padding-bottom: 23px;
    }


    header .logo .name
    {
        font-size: 40px;
    }

    header .logo .name:after
    {
        top: -4px;
        right: -14px;

        width: 12px;
        height: 12px;
    }

    header .logo .desc
    {
        display: none;
    }


    header .sep
    {
        margin-right: 20px;
        margin-left: 20px;
    }


    header .sep.hide
    {
        display: block;
    }


    header .mob_menu_btn
    {
        display: flex;
    }


    header .mob_menu
    {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;

        width: 325px;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0 !important;
        padding: 0;

        transition: transform .3s linear;
        transform: translateX(-100%);

        background: #fff;
    }

    header .mob_menu.show
    {
        transform: translateX(0);
    }


    header .menu
    {
        display: flex;
        overflow: auto;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 12px 0;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        overscroll-behavior-y: contain;
    }

    header .menu > *
    {
        width: 100%;
    }

    header .menu_item + .menu_item
    {
        margin-left: 0;
    }


    header .menu_item > a
    {
        font-size: 22px;
        line-height: 28px;

        padding: 12px 20px;

        text-align: left;

        justify-content: flex-start;
    }


    header .search .btn .icon
    {
        display: block;

        width: 28px;
        height: 28px;
    }


    header .search .mini_modal,
    header .search .mini_modal.active
    {
        top: -15px;
        right: -10px;

        width: calc(100vw - 202px);
    }


    header .search form .icon
    {
        left: 20px;

        width: 26px;
        height: 26px;
    }

    header .search form .input
    {
        font-size: 20px;

        height: 58px;
        padding-right: 64px;
        padding-left: 64px;

        border-width: 2px;
    }

    header .search form .close_btn
    {
        right: 20px;

        width: 26px;
        height: 26px;
    }

    header .search form .close_btn svg
    {
        width: 20px;
        height: 20px;
    }



    header.fixed
    {
        padding: 20px 0;
    }

    header.fixed .logo .name
    {
        font-size: 28px;
    }

    header.fixed .menu
    {
        display: none;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 40px;
        padding-top: 0;
    }

    .page_head.border
    {
        margin-bottom: 48px;
        padding-bottom: 23px;
    }


    .page_title
    {
        font-size: 40px;
    }


    .page_desc
    {
        font-size: 22px;
        line-height: 140%;

        margin-top: 40px;
    }


    .page_head .link a
    {
        font-size: 17px;
        line-height: 21px;

        padding: 16px 46px;
    }


    .page_head .links a
    {
        padding: 8px 20px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 48px;
    }

    .block_head.pad_r
    {
        margin-bottom: 40px;
        padding-right: 180px;
    }


    .block_head .title sup
    {
        font-size: 18px;
        line-height: 22px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form
    {
        --form_border_radius: 40px;
    }


    .form .columns
    {
        --form_columns_offset: 32px;
    }


    .form .line
    {
        margin-bottom: 28px;
    }


    .form .label
    {
        font-size: 16px;

        padding: 0 24px;
    }


    .form .input
    {
        font-size: 18px;

        height: 60px;
        padding-right: 22px;
        padding-left: 22px;
    }


    .form .nice-select .current
    {
        font-size: 18px;
        line-height: 56px;

        height: 60px;
        padding-right: 72px;
        padding-left: 22px;
    }

    .form .nice-select .list .list_item
    {
        font-size: 18px;
    }

    .form .nice-select + .arr
    {
        right: 24px;

        width: 24px;
        height: 13px;
    }


    .form .agree label
    {
        font-size: 18px;

        padding-left: 44px;
    }

    .form .agree label .check
    {
        width: 30px;
        height: 30px;
    }

    .form .agree label .check .icon
    {
        width: 20px;
        height: 14px;
    }


    .form .submit_btn
    {
        width: 260px;
        height: 60px;

        border-radius: 40px;
    }


    .form .bottom
    {
        margin-top: 12px;
        padding-top: 30px;
    }

    .form .bottom .agree
    {
        width: calc(100% - 300px);
    }



    /*----------------
        Typography
    ----------------*/
    .text_block > *
    {
        margin-bottom: 28px;
    }


    .text_block .big
    {
        font-size: 20px;
    }


    .text_block h2
    {
        font-size: 36px;

        margin-bottom: 24px;
    }

    .text_block h3
    {
        font-size: 32px;

        margin-bottom: 24px;
    }

    .text_block h4
    {
        font-size: 26px;

        margin-bottom: 24px;
    }

    .text_block h5
    {
        font-size: 24px;

        margin-bottom: 24px;
    }


    .text_block * + h2,
    .text_block * + h3,
    .text_block * + h4,
    .text_block * + h5
    {
        margin-top: 60px;
    }


    .text_block .cols .col
    {
        width: calc(50% - 24px);
    }


    .text_block .table_wrap
    {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .text_block table th,
    .text_block table td
    {
        padding: 16px 20px;
    }


    .text_block .message
    {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 40px;

        border-radius: 48px;
    }

    .text_block .message .title,
    .text_block .message .text
    {
        font-size: 22px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: 48px;
    }


    .first_section .status
    {
        font-size: 32px;

        padding-top: 20px;
    }

    .first_section .status .point
    {
        width: 12px;
        height: 12px;
        margin-left: 6px;
    }


    .first_section .desc
    {
        font-size: 20px;

        margin-top: 8px;
    }


    .first_section .stats
    {
        width: 100%;
        margin-top: 32px;
    }


    .first_section .stats .title
    {
        font-size: 24px;

        margin-bottom: 24px;
    }


    .first_section .stats .item .icon
    {
        font-size: 16px;
        line-height: 20px;
    }

    .first_section .stats .item .icon img
    {
        width: 38px;
        height: 38px;
        margin-right: 12px;
    }

    .first_section .stats .item .icon div
    {
        width: calc(100% - 50px);
    }


    .first_section .stats .row .label
    {
        font-size: 16px;
        line-height: 22px;
    }


    .first_section .stats .item .per_day
    {
        font-size: 40px;
    }

    .first_section .stats .item .total
    {
        font-size: 20px;
    }



    /*-----------------
        Site search
    -----------------*/
    .site_search
    {
        margin-bottom: 48px;
    }


    .site_search form .icon
    {
        width: 28px;
        height: 28px;
    }


    .site_search form .input
    {
        font-size: 22px;

        height: 72px;
        padding-left: 56px;
    }



    /*--------------
        Medicine
    --------------*/
    .medicine
    {
        margin-bottom: 80px;
    }


    .medicine .images > *
    {
        height: 240px;
        padding: 24px;

        border-radius: 40px;
    }

    .medicine .images > * + *
    {
        padding: 0;
    }


    .medicine .row
    {
        margin-top: 28px;
        margin-left: 0;
    }


    .medicine .item
    {
        font-size: 16px;
        line-height: 22px;

        width: 100%;
        margin-left: 0;
    }

    .medicine .item + .item
    {
        margin-top: 28px;
    }

    .medicine .item .title
    {
        font-size: 24px;

        margin-bottom: 16px;
    }


    .medicine .all_link
    {
        width: 100%;
        height: 60px;
        margin-top: 40px;
        margin-left: 0;

        border-radius: 40px;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        margin-bottom: 92px;
    }


    .articles .categories
    {
        margin-bottom: 24px;
    }


    .articles .categories a
    {
        font-size: 16px;

        padding: 8px 16px 10px;

        border-radius: 40px;
    }


    .articles .row
    {
        margin-bottom: -40px;
    }

    .articles .row > *
    {
        width: calc(50% - 24px);
        margin-bottom: 40px;
    }

    .articles .row > *.big
    {
        width: calc(100% - 24px);
    }


    .articles .article .sticker,
    .articles .article.big .sticker
    {
        width: 152px;
        height: 92px;

        border-radius: 0 40px;
    }

    .articles .article .sticker img
    {
        zoom: .8;
    }


    .articles .article .thumb
    {
        margin-bottom: 24px;

        border-radius: 40px;
    }


    .articles .article .icon
    {
        width: 104px;
        height: 104px;
    }

    .articles .article .icon svg
    {
        width: 36px;
        height: 38px;
    }


    .articles .article .date
    {
        width: 184px;
        padding: 4px 16px 12px 48px;

        border-radius: 0 40px 0 40px;
    }


    .articles .article .name
    {
        padding: 0 24px;
    }

    .articles .article.big .name
    {
        font-size: 22px;
    }

    .articles .article .thumb .name
    {
        font-size: 32px;

        width: 432px;
        padding: 40px;
    }



    .articles .poll
    {
        padding: 40px;

        border-radius: 40px;
    }


    .articles .poll .pre_title
    {
        line-height: 22px;

        margin-bottom: 20px;
    }


    .articles .poll .question
    {
        font-size: 28px;

        margin-bottom: 28px;
    }


    .articles .poll .answers
    {
        margin-left: -24px;
    }

    .articles .poll .answers > *
    {
        width: calc(33.333% - 24px);
        margin-left: 24px;
    }


    .articles .poll .answers label
    {
        min-height: 30px;
        padding-left: 44px;
    }

    .articles .poll .answers label .check
    {
        width: 30px;
        height: 30px;

        border-width: 2px;
    }


    .articles .poll .submit_btn
    {
        line-height: 22px;

        padding: 16px 48px;
    }



    .articles .all_link div
    {
        padding-bottom: calc(100% - 2px);
    }



    /*-----------
        Polls
    -----------*/
    .polls.margin
    {
        margin-bottom: 80px;
    }


    .polls .row
    {
        margin-left: 0;
    }

    .polls .row > *,
    .polls .row > *.big_w
    {
        width: 100%;
        margin-bottom: 24px;
        margin-left: 0;
    }


    .polls .item
    {
        padding: 28px 28px 32px;

        border-radius: 40px;
    }


    .polls .item .block_title
    {
        font-size: 32px;
    }


    .polls .item .pre_title
    {
        line-height: 22px;

        margin-bottom: 20px;
    }


    .polls .ver_bar
    {
        margin-left: -16px;
    }

    .polls .ver_bar > *
    {
        width: calc(25% - 16px);
        margin-left: 16px;
    }


    .polls .ver_bar .value
    {
        position: relative;
    }

    .polls .ver_bar .value span
    {
        color: #fff;
        font-size: 40px;
        line-height: 54px;

        position: absolute;
        top: 100%;
        left: 16px;

        margin: 0;
        margin-top: 12px;
    }


    .polls .hor_bar
    {
        margin-top: 32px;
    }

    .polls .hor_bar .progress
    {
        width: calc(100% - 200px);
    }

    .polls .hor_bar .bar .value
    {
        width: 40px;
    }

    .polls .hor_bar .bar .label
    {
        width: 120px;
    }


    .polls .image
    {
        margin-top: 32px;
    }



    /*-------------
        Therapy
    -------------*/
    .therapy .list > * + *
    {
        margin-top: 24px;
    }


    .therapy .item
    {
        padding: 32px;

        text-align: center;

        border-radius: 40px;
    }


    .therapy .item .thumb
    {
        margin: 0 auto 32px;
    }

    .therapy .item .thumb + *
    {
        width: 100%;
    }


    .therapy .item .name
    {
        font-size: 32px;
    }


    .therapy .item .desc
    {
        font-size: 17px;
    }


    .therapy .item .link
    {
        margin-top: 24px;
    }

    .therapy .item .link a
    {
        width: 220px;
        padding: 16px 20px;

        border-radius: 40px;
    }



    /*-----------------
        Search info
    -----------------*/
    .search_info form
    {
        margin-bottom: 40px;
    }


    .search_info form .icon
    {
        bottom: 28px;

        width: 28px;
        height: 28px;
    }


    .search_info form .input
    {
        font-size: 28px;

        height: 64px;
        padding-bottom: 28px;
        padding-left: 60px;
    }



    .search_info .list > * + *
    {
        margin-top: 40px;
    }


    .search_info .list .item
    {
        padding-bottom: 40px;
    }


    .search_info .list .item .name
    {
        font-size: 22px;
    }

    .search_info .list .item .desc
    {
        margin-top: 16px;
    }



    /*----------
        Tags
    ----------*/
    .tags
    {
        margin-bottom: 48px;
    }


    .tags a
    {
        padding: 9px 20px 11px;

        border-radius: 40px;
    }



    /*------------
        Events
    ------------*/
    .events.border
    {
        margin-bottom: 60px;
        padding: 0 0 59px;
    }



    .events .calendar
    {
        width: 100%;
    }

    .events .calendar .months > * + *
    {
        margin-top: 20px;
    }

    .events .calendar #calendar
    {
        width: calc(100% - 120px);
    }


    .events .top_event
    {
        width: 100%;
        margin-top: 40px;
    }


    .events .top_event .thumb
    {
        width: 300px;
        height: 300px;
        margin-bottom: 0;

        border-radius: 40px;
    }

    .events .top_event .thumb + *
    {
        width: calc(100% - 332px);
    }


    .events .top_event .date
    {
        margin-bottom: 8px;
    }

    .events .top_event .time
    {
        font-size: 22px;
        line-height: 26px;
    }

    .events .top_event .name
    {
        font-size: 22px;
        line-height: 28px;
    }

    .events .top_event .speackers
    {
        margin-top: 24px;
    }


    .events .top_event .btn
    {
        width: 200px;
        margin-top: 24px;
        padding: 12px 16px;

        border-radius: 40px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info,
    .article_info.big_m
    {
        margin-bottom: 72px;
    }


    .article_info .image
    {
        height: 272px;
        margin-bottom: 40px;

        border-radius: 40px;
    }


    .article_info .article_title
    {
        font-size: 40px;
    }


    .article_info .date_time
    {
        margin-top: 24px;
    }


    .article_info .time
    {
        font-size: 20px;
        line-height: 26px;
    }


    .article_info .date
    {
        margin-top: 24px;
        padding: 5px 14px 6px;
    }

    .article_info .date_time .date
    {
        margin-left: 28px;
    }


    .article_info .lecturer
    {
        margin-top: 40px;
    }

    .article_info .lecturer .title
    {
        font-size: 22px;

        margin-bottom: 20px;
    }


    .article_info .person .thumb
    {
        width: 100px;
        height: 100px;
    }

    .article_info .person .thumb + *
    {
        width: calc(100% - 124px);
    }


    .article_info .person .name
    {
        font-size: 18px;
    }

    .article_info .person .desc
    {
        margin-top: 12px;
    }


    .article_info .text_block
    {
        margin-top: 40px;
    }

    .article_info .lecturer + .text_block
    {
        margin-top: 40px;
    }


    .article_info .participate_btn
    {
        margin-top: 40px;
        padding: 18px 38px;

        border-radius: 48px;
    }


    .article_info .lock .btn
    {
        margin-top: 32px;
        padding: 19px 43px;
    }



    /*--------------------
        Event register
    --------------------*/
    .event_register
    {
        width: 100%;
        margin: 80px 0 0;
        padding: 40px 32px;

        border-radius: 40px;
    }


    .event_register .title
    {
        font-size: 32px;

        margin-bottom: 32px;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info
    {
        padding: 120px 0 280px;
    }


    .error_info .code
    {
        font-size: 200px;
    }


    .error_info .desc,
    .error_info .link
    {
        font-size: 20px;
    }



    /*---------------
        Esperavir
    ---------------*/
    .esperavir .head
    {
        margin-bottom: 80px;
    }


    .esperavir .head .data
    {
        padding: 60px;

        text-align: center;

        border-radius: 48px;
    }


    .esperavir .head .info
    {
        width: 100%;
    }


    .esperavir .head .title
    {
        font-size: 26px;
    }


    .esperavir .head .link
    {
        margin-top: 32px;
    }

    .esperavir .head .link a
    {
        width: 232px;
        padding: 18px;
    }


    .esperavir .head img
    {
        margin: 40px auto 0;
    }



    .esperavir .pluses
    {
        margin-bottom: 80px;
    }


    .esperavir .pluses .row
    {
        margin-bottom: -40px;
        margin-left: 0;
    }


    .esperavir .pluses .item
    {
        font-size: 17px;

        display: flex;

        width: 100%;
        margin-bottom: 40px;

        text-align: left;

        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }


    .esperavir .pluses .icon
    {
        width: 60px;
        height: 60px;
        margin: 0;
    }

    .esperavir .pluses .icon + *
    {
        width: calc(100% - 88px);

        align-self: center;
    }


    .esperavir .pluses br
    {
        display: none;
    }



    .esperavir .mechanism .notice
    {
        margin-bottom: 48px;
    }


    .esperavir .mechanism .notice .icon
    {
        width: 32px;
        height: 32px;
    }

    .esperavir .mechanism .notice .icon + *
    {
        width: calc(100% - 56px);
    }

    .esperavir .mechanism .notice .title
    {
        font-size: 17px;
    }

    .esperavir .mechanism .notice .desc
    {
        font-size: 13px;
        line-height: 130%;

        margin-top: 32px;
    }



    .esperavir .mechanism .image
    {
        margin-right: 40px;
        margin-left: 0;
    }


    .esperavir .mechanism .image img
    {
        width: 172px;
    }


    .esperavir .mechanism .data
    {
        width: calc(100% - 220px);
    }


    .esperavir .mechanism .data .block_head
    {
        margin-bottom: 40px;
    }


    .esperavir .mechanism .item
    {
        font-size: 17px;
        line-height: 130%;

        padding: 20px 24px;

        border-radius: 10px;
    }


    .esperavir .mechanism .item + .item
    {
        margin-top: 32px;
    }

    .esperavir .mechanism .item + .item:before
    {
        top: -40px;
        left: 88px;

        width: 18px;
        height: 48px;
    }



    .esperavir .indications
    {
        margin-bottom: 80px;
        padding: 72px 0 80px;
    }


    .esperavir .indications .block_head
    {
        margin-bottom: 40px;
    }


    .esperavir .indications .desc
    {
        font-size: 18px;
    }


    .esperavir .indications .items
    {
        font-size: 18px;

        margin-top: 28px;
    }

    .esperavir .indications .item + .item
    {
        margin-top: 24px;
    }


    .esperavir .indications .item .icon
    {
        width: 60px;
        height: 60px;
    }

    .esperavir .indications .item .icon svg
    {
        width: 32px;
        height: 32px;
    }

    .esperavir .indications .item .icon + *
    {
        width: calc(100% - 88px);
    }


    .esperavir .indications .notice
    {
        font-size: 18px;

        width: 100%;
        margin-top: 40px;
        padding: 40px;

        border-radius: 10px;
    }

    .esperavir .indications .notice .icon
    {
        width: 40px;
        height: 40px;
        margin-bottom: 24px;
    }



    .esperavir .mode_app .block_head
    {
        margin-bottom: 40px;
    }

    .esperavir .mode_app .block_head .link a
    {
        padding: 10px 30px;
    }


    .esperavir .mode_app .items
    {
        font-size: 18px;
        line-height: 130%;

        width: 100%;
    }


    .esperavir .mode_app .item + .item
    {
        margin-top: 20px;
    }


    .esperavir .mode_app .items .icon
    {
        width: 60px;
        height: 60px;
    }

    .esperavir .mode_app .items .icon + *
    {
        width: calc(100% - 88px);
    }


    .esperavir .mode_app .img
    {
        margin-top: 40px;
        margin-left: 0;
    }


    .esperavir .mode_app .exp
    {
        font-size: 24px;

        margin-top: 48px;
    }



    /*-----------------
        Favipiravir
    -----------------*/
    .favipiravir .mechanisn
    {
        padding: 60px 0;
    }


    .favipiravir .mechanisn .title
    {
        font-size: 24px;
        line-height: 32px;

        width: 100%;
        margin-bottom: 40px;
        padding: 0;

        border: none;
    }


    .favipiravir .mechanisn .item
    {
        font-size: 18px;
        line-height: 26px;

        padding: 0;
    }

    .favipiravir .mechanisn .item .number
    {
        font-size: 48px;
        line-height: 72px;

        width: 80px;
        height: 80px;
        margin-right: 20px;
    }



    .favipiravir .about
    {
        margin-bottom: 80px;
    }


    .favipiravir .about .data
    {
        font-size: 22px;
        line-height: 140%;

        width: 100%;
    }

    .favipiravir .about .data > * + *
    {
        margin-top: 32px;
    }


    .favipiravir .about img
    {
        width: auto;
        max-width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }



    .favipiravir .efficiency
    {
        position: relative;

        margin-bottom: 80px;
        padding: 80px 0;
    }


    .favipiravir .efficiency .data
    {
        width: 100%;
    }


    .favipiravir .efficiency .title
    {
        font-size: 24px;
        line-height: 140%;

        margin-bottom: 40px;
        padding-right: 280px;
    }


    .favipiravir .efficiency .items
    {
        font-size: 17px;
    }

    .favipiravir .efficiency .items br
    {
        display: none;
    }


    .favipiravir .efficiency .col
    {
        width: calc(50% - 24px);
    }

    .favipiravir .efficiency .col > * + *
    {
        margin-top: 12px;
    }

    .favipiravir .efficiency .col > *
    {
        padding-left: 28px;
    }

    .favipiravir .efficiency .col > *:before
    {
        top: 4px;

        width: 12px;
        height: 12px;
    }


    .favipiravir .efficiency img
    {
        position: absolute;
        top: 80px;
        right: 24px;

        width: 240px;
        margin: 0;
    }


    .favipiravir .efficiency .text
    {
        font-size: 18px;
        line-height: 140%;

        margin-top: 52px;
        padding: 35px;

        border-radius: 28px;
    }



    .favipiravir .covid19 .block_head
    {
        margin-bottom: 48px;
    }


    .favipiravir .covid19 .text
    {
        font-size: 22px;
        line-height: 140%;

        width: 100%;
    }


    .favipiravir .covid19 img
    {
        width: auto;
        margin-top: 40px;
        margin-left: 0;
    }



    .favipiravir .compare
    {
        margin-bottom: 80px;
        padding: 80px 0;
    }


    .favipiravir .compare .items
    {
        width: 100%;
        margin-top: 40px;

        order: 2;
    }


    .favipiravir .compare .item
    {
        font-size: 16px;
        line-height: 140%;

        width: calc(50% - 20px);
    }


    .favipiravir .compare .item .thumb
    {
        height: 300px;
        margin-bottom: 24px;
        padding: 24px;

        border-radius: 32px;
    }


    .favipiravir .compare .text
    {
        font-size: 22px;
        line-height: 140%;

        width: 100%;
        margin: 0;
    }



    .favipiravir .torelability .block_title
    {
        font-size: 28px;

        margin-bottom: 48px;
    }


    .favipiravir .torelability .col_left
    {
        width: 100%;
    }


    .favipiravir .torelability .col_left .text
    {
        font-size: 17px;
        line-height: 140%;

        padding: 31px;

        border-radius: 28px;
    }

    .favipiravir .torelability .col_left .text:after
    {
        bottom: -12px;

        width: 24px;
        height: 24px;
    }


    .favipiravir .torelability .col_left img
    {
        margin-top: 32px;
    }


    .favipiravir .torelability .col_right
    {
        width: 100%;
        margin-top: 40px;
    }


    .favipiravir .torelability .col_right .text
    {
        font-size: 21px;
        line-height: 140%;

        padding-right: 0;
    }


    .favipiravir .torelability .info
    {
        font-size: 17px;
        line-height: 140%;

        margin-top: 48px;
        padding: 40px;

        border-radius: 32px;
    }


    .favipiravir .torelability .info .exp
    {
        margin-top: 20px;
    }



    .favipiravir .research .block_title
    {
        font-size: 28px;

        margin-bottom: 48px;
    }


    .favipiravir .research .col_left
    {
        width: 100%;
    }


    .favipiravir .research .col_left .text
    {
        font-size: 18px;
        line-height: 140%;
    }

    .favipiravir .research .col_left .text > * + *
    {
        margin-top: 24px;
    }


    .favipiravir .research .col_right
    {
        width: 100%;
        margin-top: 48px;
    }


    .favipiravir .research .col_right .text
    {
        font-size: 18px;
        line-height: 140%;

        margin-top: 40px;
    }

    .favipiravir .research .col_right .text > * + *
    {
        margin-top: 8px;
    }


    .favipiravir .research .message
    {
        font-size: 24px;
        line-height: 140%;

        margin-top: 72px;
        padding: 40px;

        border-radius: 32px;
    }



    .favipiravir .performance
    {
        margin-bottom: 80px;
    }


    .favipiravir .performance .block_head
    {
        margin-bottom: 60px;
    }


    .favipiravir .performance .data
    {
        padding: 40px;

        border-radius: 32px;
    }


    .favipiravir .performance .info
    {
        width: 100%;
    }


    .favipiravir .performance .info .title
    {
        font-size: 20px;
        line-height: 140%;
    }

    .favipiravir .performance .info .title sup
    {
        font-size: 12px;
        line-height: 20px;
    }


    .favipiravir .performance .info .desc
    {
        font-size: 18px;
        line-height: 140%;

        margin-top: 28px;
    }

    .favipiravir .performance .info .desc > * + *
    {
        margin-top: 10px;
    }


    .favipiravir .performance .image
    {
        width: 100%;
        height: 340px;
        margin-top: 40px;
        margin-left: 0;
        padding: 40px;

        border-radius: 32px;
    }



    .favipiravir .therapy
    {
        margin-bottom: 60px;
    }


    .favipiravir .therapy .title
    {
        font-size: 24px;
        line-height: 140%;

        padding: 80px 0;
    }


    .favipiravir .therapy .exp
    {
        font-size: 24px;

        margin-top: 40px;
    }



    /*---------------
        Areplivir
    ---------------*/
    .areplivir .head
    {
        margin-bottom: 80px;
        padding: 60px 48px;

        border-radius: 48px;
    }


    .areplivir .head .title
    {
        font-size: 40px;

        margin-bottom: 28px;
    }


    .areplivir .head .desc
    {
        font-size: 20px;
    }


    .areplivir .head .link
    {
        margin-top: 28px;
    }

    .areplivir .head .link a
    {
        width: 200px;
        padding: 14px;
    }



    .areplivir .block_head
    {
        margin-bottom: 52px;
    }



    .areplivir .symptoms
    {
        margin-bottom: 80px;
    }


    .areplivir .symptoms .row
    {
        margin-left: 0;
    }

    .areplivir .symptoms .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .areplivir .symptoms .item
    {
        padding: 40px;

        border-radius: 48px;
    }


    .areplivir .symptoms .item .title
    {
        font-size: 24px;

        margin-bottom: 32px;
    }

    .areplivir .symptoms .item .title br
    {
        display: none;
    }


    .areplivir .symptoms li
    {
        font-size: 17px;

        min-height: 60px;
        padding-left: 84px;
    }

    .areplivir .symptoms li + li
    {
        margin-top: 28px;
    }


    .areplivir .symptoms li .number
    {
        font-size: 36px;
        line-height: 52px;

        width: 60px;
        height: 60px;
    }


    .areplivir .symptoms ul
    {
        display: flex;

        margin-bottom: -20px;

        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .areplivir .symptoms ul li
    {
        width: calc(50% - 20px);
        min-height: 92px;
        margin-bottom: 20px;
        padding-left: 112px;
    }

    .areplivir .symptoms ul li + li
    {
        margin-top: 0;
    }

    .areplivir .symptoms li .icon
    {
        width: 92px;
        height: 92px;
        padding: 16px;

        border-radius: 20px;
    }



    .areplivir .number_ill
    {
        margin-bottom: 80px;
        padding: 60px 0;
    }


    .areplivir .number_ill .title
    {
        font-size: 32px;
        line-height: 38px;

        width: 100%;
        margin-right: 0;
        margin-bottom: 32px;
        padding: 0;
    }

    .areplivir .number_ill .title br
    {
        display: none;
    }


    .areplivir .number_ill .item
    {
        display: block;

        width: calc(50% - 20px);
        padding: 0;
    }

    .areplivir .number_ill .item + .item
    {
        margin-left: auto;
    }


    .areplivir .number_ill .item .label
    {
        font-size: 22px;

        width: 100%;
        margin-bottom: 8px;
    }

    .areplivir .number_ill .item .val
    {
        font-size: 32px;

        margin-left: 0;
        padding: 8px 32px 12px;

        text-align: center;
    }



    .areplivir .viruses
    {
        margin-bottom: 80px;
    }


    .areplivir .viruses .block_head
    {
        margin-bottom: 48px;
    }


    .areplivir .viruses .info
    {
        width: 100%;
        padding: 40px;

        border-radius: 32px;
    }


    .areplivir .viruses .info .title
    {
        font-size: 24px;
        line-height: 28px;
    }

    .areplivir .viruses .info .title br
    {
        display: none;
    }

    .areplivir .viruses .info .desc
    {
        font-size: 18px;
        line-height: 140%;
    }


    .areplivir .viruses .data
    {
        width: 100%;
        margin-top: 24px;
        padding: 40px;

        border-radius: 32px;
    }


    .areplivir .viruses .data ul
    {
        width: 100%;
    }

    .areplivir .viruses .data ul li
    {
        font-size: 18px;
        line-height: 140%;

        min-height: 60px;
        padding-left: 84px;
    }

    .areplivir .viruses .data ul li:before
    {
        width: 60px;
        height: 60px;

        background-size: 32px auto;
    }

    .areplivir .viruses .data ul li + li
    {
        margin-top: 20px;
    }


    .areplivir .viruses .data img
    {
        width: auto;
        max-width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }



    .areplivir .what_is
    {
        padding: 80px 0;
    }


    .areplivir .what_is .block_head
    {
        margin-bottom: 40px;
    }


    .areplivir .what_is .col,
    .areplivir .what_is .col + .col
    {
        width: 100%;
    }


    .areplivir .what_is .block_title
    {
        font-size: 22px;
        line-height: 140%;

        margin-bottom: 32px;
    }


    .areplivir .what_is .col .definition
    {
        font-size: 18px;
        line-height: 140%;

        padding: 40px 172px 40px 40px;

        border-radius: 32px;
    }


    .areplivir .what_is .col .definition img
    {
        top: 64px;
        right: 24px;

        width: 128px;
    }


    .areplivir .what_is .efficiency
    {
        margin-top: 24px;
        padding: 40px;

        border-radius: 32px;
    }


    .areplivir .what_is .efficiency .title
    {
        font-size: 22px;
        line-height: 140%;

        margin-bottom: 32px;
    }


    .areplivir .what_is .efficiency li
    {
        font-size: 17px;

        padding-left: 28px;
    }

    .areplivir .what_is .efficiency li + li
    {
        margin-top: 12px;
    }

    .areplivir .what_is .efficiency li:before
    {
        width: 14px;
        height: 14px;
    }

    .areplivir .what_is .efficiency li br
    {
        display: none;
    }



    .areplivir .efficiency_covid
    {
        margin-bottom: 80px;
    }


    .areplivir .efficiency_covid .block_head
    {
        margin-bottom: 48px;
    }


    .areplivir .efficiency_covid .row
    {
        margin-bottom: -48px;
        margin-left: 0;
    }

    .areplivir .efficiency_covid .row > *
    {
        width: 100%;
        margin-bottom: 48px;
        margin-left: 0;
    }


    .areplivir .efficiency_covid .item .thumb
    {
        height: 280px;
        margin-bottom: 32px;
    }


    .areplivir .efficiency_covid .item .desc
    {
        font-size: 20px;
        line-height: 140%;
    }



    .areplivir .safety_use
    {
        margin-bottom: 80px;
    }


    .areplivir .safety_use .data
    {
        padding: 40px;

        border-radius: 48px;
    }


    .areplivir .safety_use .block_head
    {
        margin-bottom: 36px;
    }


    .areplivir .safety_use .sub_title
    {
        font-size: 22px;
        line-height: 140%;
    }


    .areplivir .safety_use .desc
    {
        font-size: 18px;
        line-height: 140%;

        margin-top: 20px;
    }


    .areplivir .safety_use .img
    {
        margin-top: 40px;
        margin-left: 0;
    }



    .areplivir .results
    {
        padding: 80px 0;
    }


    .areplivir .results .block_title
    {
        font-size: 24px;
        line-height: 140%;

        width: 100%;
        margin-bottom: 48px;
    }


    .areplivir .results .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .areplivir .results .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .areplivir .results .item
    {
        height: 300px;
        padding: 24px;

        border-radius: 32px;
    }



    /*-------------
        Skyvira
    -------------*/
    .skyvira .head .data
    {
        margin-bottom: 80px;
    }


    .skyvira .head .data
    {
        padding: 60px;

        text-align: center;

        border-radius: 48px;
    }


    .skyvira .head .info
    {
        width: 100%;
    }


    .skyvira .head .title
    {
        font-size: 26px;
    }


    .skyvira .head .link
    {
        margin-top: 32px;
    }

    .skyvira .head .link a
    {
        width: 232px;
        padding: 18px;
    }


    .skyvira .head img
    {
        margin: 60px auto 0;
    }



    .skyvira .risk_groups .block_title
    {
        font-size: 40px;

        margin-bottom: 30px;
    }



    .skyvira .risk_groups .items
    {
        display: flex;

        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .skyvira .risk_groups .items img
    {
        display: none;
    }


    .skyvira .risk_groups .col
    {
        position: relative;
        bottom: 0;

        display: flex;

        width: 100%;
        margin-bottom: -20px;
        margin-left: -32px;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .skyvira .risk_groups .col > *
    {
        font-size: 15px;
        line-height: 50px;

        margin-bottom: 20px;
        margin-left: 32px;
    }

    .skyvira .risk_groups .col > * + *
    {
        margin-top: 0;
    }

    .skyvira .risk_groups .col span
    {
        padding: 0 30px;
    }

    .skyvira .risk_groups .col span:before,
    .skyvira .risk_groups .col + .col span:before
    {
        right: auto;
        left: -8px;

        width: 18px;
        height: 18px;
    }

    .skyvira .risk_groups .col + .col
    {
        width: 100%;
        margin-top: 20px;
    }



    .skyvira .covid19 .data
    {
        padding: 60px;

        border-radius: 48px;
    }


    .skyvira .covid19 .item
    {
        font-size: 18px;

        display: flex;

        text-align: left;

        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .skyvira .covid19 .item .icon
    {
        width: 60px;
        height: 60px;
        margin: 0;
    }

    .skyvira .covid19 .item .icon + *
    {
        width: calc(100% - 84px);

        align-self: center;
    }

    .skyvira .covid19 .item br
    {
        display: none;
    }


    .skyvira .covid19 .title
    {
        font-size: 22px;

        margin-top: 60px;
    }



    .skyvira .research_results
    {
        margin-bottom: 80px;
    }


    .skyvira .research_results .thumb
    {
        width: 240px;
        height: 240px;
    }

    .skyvira .research_results .thumb + *
    {
        width: calc(100% - 280px);
    }


    .skyvira .research_results .title
    {
        font-size: 24px;
        line-height: 140%;
    }


    .skyvira .research_results .exp
    {
        font-size: 12px;
        line-height: 140%;

        margin-top: 30px;
    }


    .skyvira .research_results .items
    {
        margin-top: 60px;
        margin-left: 0;
        padding: 0;
    }


    .skyvira .research_results .item
    {
        font-size: 18px;

        display: flex;

        text-align: left;

        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .skyvira .research_results .item .icon
    {
        width: 60px;
        height: 60px;
        margin: 0;
    }

    .skyvira .research_results .item .icon + *
    {
        width: calc(100% - 84px);

        align-self: center;
    }

    .skyvira .research_results .item br
    {
        display: none;
    }



    .skyvira .dynamics
    {
        margin-bottom: 80px;
        padding: 80px 0;
    }


    .skyvira .dynamics .block_title
    {
        font-size: 33px;
        line-height: 130%;

        margin-bottom: 40px;
    }


    .skyvira .dynamics .img
    {
        margin-bottom: 0;
    }


    .skyvira .dynamics .item
    {
        font-size: 18px;

        width: calc(50% - 24px);
        margin-top: 40px;
    }

    .skyvira .dynamics .item .val
    {
        font-size: 36px;

        margin-bottom: 10px;
    }



    .skyvira .mode_app .block_head
    {
        margin-bottom: 30px;
    }


    .skyvira .mode_app .items
    {
        font-size: 18px;
        line-height: 130%;

        width: 100%;
    }


    .skyvira .mode_app .item + .item
    {
        margin-top: 20px;
    }


    .skyvira .mode_app .items .icon
    {
        width: 60px;
        height: 60px;
    }

    .skyvira .mode_app .items .icon + *
    {
        width: calc(100% - 88px);
    }

    .skyvira .mode_app .items ul li:before
    {
        top: 8px;
    }


    .skyvira .mode_app .link
    {
        margin-top: 40px;
        margin-left: 88px;
    }

    .skyvira .mode_app .link a
    {
        padding: 10px 30px;
    }


    .skyvira .mode_app .image
    {
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }


    .skyvira .mode_app .notice
    {
        font-size: 20px;
        line-height: 26px;
    }

    .skyvira .mode_app .notice img
    {
        width: 60px;
        height: 60px;
    }


    .skyvira .mode_app .exp
    {
        font-size: 24px;

        margin-top: 48px;
    }



    /*-----------
        Notes
    -----------*/
    .notes .spoler_btn
    {
        font-size: 24px;

        padding: 40px 0;
    }


    .notes .spoler_btn .icon
    {
        width: 28px;
        height: 14px;
    }


    .notes .data
    {
        font-size: 17px;

        padding: 48px 0;
    }


    .notes .text
    {
        padding: 0;
    }

    .notes .text > * + *
    {
        margin-top: 24px;
    }



    /*-------------
        Socials
    -------------*/
    .socials
    {
        right: 32px;

        width: 360px;
        padding: 40px;
    }


    .socials .close_btn
    {
        width: 50px;
        height: 50px;
    }

    .socials .close_btn .icon
    {
        width: 20px;
        height: 20px;
    }

    .socials .title
    {
        font-size: 26px;

        margin-bottom: 30px;
    }

    .socials .items .icon
    {
        width: 50px;
        height: 50px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 72px 0;
    }


    footer .logo .name
    {
        font-size: 36px;
    }

    footer .logo .name:after
    {
        top: -5px;
        right: -10px;

        width: 10px;
        height: 10px;
    }



    /*-----------
        PopUp
    -----------*/
    .video_modal
    {
        width: 100%;
        padding: 40px;
    }


    .video_modal .thumb
    {
        margin-bottom: 24px;
    }

    .video_modal .thumb .icon
    {
        width: 120px;
        height: 120px;
    }

    .video_modal .thumb .icon svg
    {
        width: 36px;
        height: 40px;
    }


    .video_modal .title
    {
        font-size: 24px;
    }



    /*-----------
        PopUp
    -----------*/
    #warning_modal
    {
        padding: 60px;
    }


    #warning_modal .title
    {
        font-size: 38px;
    }

    #warning_modal .desc
    {
        font-size: 18px;

        margin-top: 24px;
    }


    #warning_modal .btns
    {
        margin-top: 40px;
    }

    #warning_modal .btn
    {
        font-size: 16px;
        line-height: 20px;

        width: calc(50% - 12px);
        padding: 22px;

        border-radius: 48px;
    }
}
