@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 17px;
        --font_size_title: 32px;
    }


    .cont
    {
        padding: 0 20px;
    }



    .swiper-button-next,
    .swiper-button-prev
    {
        top: -88px;

        width: 60px;
        height: 60px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }


    .fancybox__content > .carousel__button.is-close
    {
        top: -24px;
        right: -16px;

        width: 48px;
        height: 48px;
    }


    .modal.fancybox__content > .carousel__button.is-close svg,
    .modal + .carousel__button.is-close svg
    {
        width: 18px;
        height: 18px;
    }



    /*----------------
        Datepicker
    ----------------*/
    .air-datepicker
    {
        --adp-day-cell-height: 46px;
        --adp-month-cell-height: 46px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 20px 0;
    }

    header.border
    {
        padding-bottom: 19px;
    }


    header .logo .name
    {
        font-size: 34px;
    }

    header .logo .name:after
    {
        top: -3px;
        right: -14px;

        width: 12px;
        height: 12px;
    }


    header .sep
    {
        margin-right: 16px;
        margin-left: 16px;
    }



    header .search
    {
        position: static;
    }


    header .search .btn .icon
    {
        width: 26px;
        height: 26px;
    }


    header .search .mini_modal,
    header .search .mini_modal.active
    {
        top: 10px;
        right: 20px;

        width: calc(100vw - 40px);
    }


    header .search form .icon
    {
        left: 20px;

        width: 26px;
        height: 26px;
    }

    header .search form .input
    {
        font-size: 20px;

        height: 58px;
        padding-right: 64px;
        padding-left: 64px;

        border-width: 2px;
    }

    header .search form .close_btn
    {
        right: 20px;

        width: 26px;
        height: 26px;
    }

    header .search form .close_btn svg
    {
        width: 20px;
        height: 20px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head.border
    {
        margin-bottom: 40px;
        padding-bottom: 31px;
    }


    .page_title
    {
        font-size: 36px;

        width: 100%;
    }


    .page_desc
    {
        font-size: 18px;

        margin-top: 28px;
    }


    .page_head .links
    {
        display: block;
        overflow: auto;

        width: calc(100% + 40px);
        margin-right: -20px;
        margin-bottom: 0;
        margin-left: -20px;
        padding: 0 20px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .page_head .links::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .page_head .links::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .page_head .links > *
    {
        display: inline-block;

        max-width: none;
        margin: 0;

        vertical-align: top;
    }

    .page_head .links > * + *
    {
        margin-left: 5px;
    }

    .page_head .links a
    {
        font-size: 16px;

        padding: 6px 17px 8px;
    }



    .page_head .link
    {
        width: 100%;
        margin-top: 16px;
        margin-left: 0;

        text-align: center;
    }



    .page_head .year
    {
        margin-top: 20px;
        margin-left: 0;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 40px;
    }

    .block_head.pad_r
    {
        margin-bottom: 56px;
        padding-right: 0;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .line
    {
        margin-bottom: 24px;
    }


    .form .submit,
    .form .submit_btn
    {
        width: 100%;
    }


    .form .bottom
    {
        margin-top: 0;
        padding-top: 0;

        border: none;
    }

    .form .bottom .agree
    {
        width: 100%;
        margin-bottom: 24px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block > *
    {
        margin-bottom: 24px;
    }


    .text_block .big
    {
        font-size: 19px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .desc
    {
        font-size: 19px;
    }


    .first_section .stats
    {
        width: 100%;
        margin-top: 32px;
    }


    .first_section .stats .title
    {
        font-size: 22px;

        margin-bottom: 20px;
    }


    .first_section .stats .row
    {
        padding: 0;
    }


    .first_section .stats .item .icon
    {
        font-size: 15px;
        line-height: 19px;
    }

    .first_section .stats .item .icon img
    {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }

    .first_section .stats .item .icon div
    {
        width: calc(100% - 45px);
    }


    .first_section .stats .row .label
    {
        display: none;
    }


    .first_section .stats .item .per_day
    {
        font-size: 36px;

        padding-left: 21px;
    }

    .first_section .stats .item .total
    {
        font-size: 18px;

        padding-left: 21px;

        text-align: left;
    }



    /*-----------------
        Site search
    -----------------*/
    .site_search form .icon
    {
        width: 24px;
        height: 24px;
    }


    .site_search form .input
    {
        height: 68px;
        padding-left: 44px;
    }



    /*--------------
        Medicine
    --------------*/
    .medicine
    {
        margin-bottom: 72px;
    }


    .medicine .images
    {
        margin-left: 0;
    }

    .medicine .images > *
    {
        width: 100%;
        height: 260px;
        margin-left: 0;

        justify-content: center;
    }

    .medicine .images > * + *
    {
        padding: 0;

        justify-content: center;
    }


    .medicine .row
    {
        margin-top: 28px;
        margin-left: 0;
    }


    .medicine .item
    {
        font-size: 16px;
        line-height: 22px;

        width: 100%;
        margin-left: 0;
    }

    .medicine .item + .item
    {
        margin-top: 28px;
    }

    .medicine .item .title
    {
        font-size: 24px;

        margin-bottom: 16px;
    }


    .medicine .all_link
    {
        width: 100%;
        margin-left: 0;

        border-radius: 40px;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info
    {
        padding: 80px 0 200px;
    }


    .error_info .code
    {
        font-size: 172px;
    }


    .error_info .desc,
    .error_info .link
    {
        font-size: 18px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .block_head .title
    {
        width: calc(100% - 100px);
    }


    .articles .row
    {
        margin-left: 0;
    }

    .articles .row > *,
    .articles .row > *.big
    {
        width: 100%;
        margin-left: 0;
    }


    .articles .article .thumb
    {
        margin-bottom: 20px;
    }


    .articles .article.big .sticker
    {
        width: 124px;
        height: 80px;
    }


    .articles .article.big .name
    {
        font-size: 18px;
    }

    .articles .article .thumb .name
    {
        font-size: 28px;

        width: 100%;
        padding: 32px;
    }



    .articles .poll
    {
        padding: 32px;
    }


    .articles .poll .pre_title
    {
        margin-bottom: 12px;
    }


    .articles .poll .question
    {
        font-size: 24px;
    }


    .articles .poll .answers > *
    {
        width: calc(50% - 24px);
    }


    .articles .poll .submit_btn
    {
        padding: 12px 40px;
    }


    .articles .all_link div
    {
        padding-bottom: 52px;
    }



    /*-----------
        Polls
    -----------*/
    .polls.margin
    {
        margin-bottom: 72px;
    }


    .polls .row
    {
        margin-left: 0;
    }

    .polls .row > *,
    .polls .row > *.big_w
    {
        width: 100%;
        margin-bottom: 24px;
        margin-left: 0;
    }


    .polls .item
    {
        padding: 28px 24px;
    }


    .polls .item .block_title
    {
        font-size: 30px;
    }


    .polls .ver_bar
    {
        margin-top: 24px;
        margin-left: -12px;
    }

    .polls .ver_bar > *
    {
        width: calc(33.333% - 12px);
        margin-left: 12px;
    }


    .polls .ver_bar .value span
    {
        font-size: 36px;
        line-height: 40px;

        left: 12px;
    }


    .polls .hor_bar
    {
        margin-top: 32px;
    }

    .polls .hor_bar .progress
    {
        width: calc(100% - 200px);
    }

    .polls .hor_bar .bar .value
    {
        width: 40px;
    }

    .polls .hor_bar .bar .label
    {
        width: 120px;
    }


    .polls .image
    {
        margin-top: 32px;
    }



    /*-------------
        Therapy
    -------------*/
    .therapy .item
    {
        padding: 24px;
    }


    .therapy .item .thumb
    {
        margin-bottom: 28px;
    }


    .therapy .item .name
    {
        font-size: 28px;
    }


    .therapy .item .desc
    {
        font-size: 16px;
    }


    .therapy .item .link a
    {
        width: 200px;
        padding: 14px 18px;
    }



    /*-----------------
        Search info
    -----------------*/
    .search_info form .icon
    {
        bottom: 24px;

        width: 24px;
        height: 24px;
    }


    .search_info form .input
    {
        font-size: 22px;

        height: 56px;
        padding-bottom: 24px;
        padding-left: 48px;
    }



    .search_info .list > * + *
    {
        margin-top: 32px;
    }


    .search_info .list .item
    {
        padding-bottom: 32px;
    }

    .search_info .list .item .name
    {
        font-size: 20px;
    }

    .search_info .list .item .desc
    {
        font-size: 16px;
    }



    /*----------
        Tags
    ----------*/
    .tags a
    {
        font-size: 16px;

        padding: 8px 16px 10px;
    }



    /*------------
        Events
    ------------*/
    .events.border
    {
        margin-bottom: 52px;
    }


    .events .calendar
    {
        width: 100%;
    }


    .events .calendar .months > * + *
    {
        margin-top: 16px;
    }


    .events .top_event
    {
        width: 100%;
    }


    .events .top_event .thumb
    {
        width: 300px;
        height: 300px;
        margin-bottom: 20px;

        border-radius: 40px;
    }

    .events .top_event .thumb + *
    {
        width: 100%;
    }


    .events .top_event .date
    {
        font-size: 16px;

        margin-bottom: 8px;
    }

    .events .top_event .time
    {
        font-size: 20px;
        line-height: 24px;
    }

    .events .top_event .name
    {
        font-size: 20px;
        line-height: 26px;
    }

    .events .top_event .speackers
    {
        font-size: 16px;

        margin-top: 20px;
    }


    .events .top_event .btn
    {
        padding: 12px 16px;

        border-radius: 40px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info,
    .article_info.big_m
    {
        margin-bottom: 60px;
    }


    .article_info .image
    {
        height: 240px;
        margin-bottom: 32px;
    }


    .article_info .article_title
    {
        font-size: 36px;
    }


    .article_info .time
    {
        font-size: 18px;
        line-height: 24px;
    }


    .article_info .date
    {
        padding: 4px 12px 5px;
    }

    .article_info .date_time .date
    {
        margin-left: 24px;
    }


    .article_info .lecturer .title
    {
        font-size: 20px;
    }


    .article_info .person .thumb
    {
        width: 80px;
        height: 80px;
    }

    .article_info .person .thumb + *
    {
        width: calc(100% - 100px);
    }


    .article_info .person .desc
    {
        font-size: 16px;
    }


    .article_info .text_block,
    .article_info .participate_btn
    {
        margin-top: 32px;
    }


    .article_info .lock .btn
    {
        margin-top: 24px;
        padding: 15px 39px;
    }



    /*--------------------
        Event register
    --------------------*/
    .event_register
    {
        margin-top: 60px;
        padding: 40px 24px;
    }


    .event_register .title
    {
        font-size: 28px;

        margin-bottom: 28px;
    }



    /*---------------
        Esperavir
    ---------------*/
    .esperavir .head .data
    {
        padding: 48px;

        border-radius: 32px;
    }


    .esperavir .head .title
    {
        font-size: 22px;
    }


    .esperavir .head .link
    {
        margin-top: 24px;
    }

    .esperavir .head .link a
    {
        width: 200px;
        padding: 14px;
    }


    .esperavir .head img
    {
        max-width: 100%;
    }



    .esperavir .pluses .item
    {
        font-size: 16px;
        line-height: 130%;
    }


    .esperavir .pluses .icon
    {
        width: 48px;
        height: 48px;
    }

    .esperavir .pluses .icon + *
    {
        width: calc(100% - 72px);
    }



    .esperavir .mechanism .notice
    {
        margin-bottom: 40px;
    }


    .esperavir .mechanism .notice .title
    {
        font-size: 16px;
    }

    .esperavir .mechanism .notice .desc
    {
        font-size: 12px;

        margin-top: 28px;
    }



    .esperavir .mechanism
    {
        margin-bottom: 80px;
    }


    .esperavir .mechanism .image
    {
        margin-right: auto;
        margin-bottom: 40px;
        margin-left: auto;
    }

    .esperavir .mechanism .image img
    {
        width: 148px;
    }


    .esperavir .mechanism .data
    {
        width: 100%;

        text-align: center;
    }


    .esperavir .mechanism .data .block_head
    {
        margin-bottom: 32px;
    }


    .esperavir .mechanism .item
    {
        font-size: 16px;
    }


    .esperavir .mechanism .item + .item:before
    {
        right: 0;
        left: 0;

        margin: auto;
    }



    .esperavir .indications .block_head
    {
        margin-bottom: 32px;
    }


    .esperavir .indications .desc
    {
        font-size: 16px;
    }


    .esperavir .indications .items
    {
        font-size: 17px;
    }


    .esperavir .indications .item .icon
    {
        width: 48px;
        height: 48px;
    }

    .esperavir .indications .item .icon svg
    {
        width: 24px;
        height: 24px;
    }

    .esperavir .indications .item .icon + *
    {
        width: calc(100% - 68px);
    }

    .esperavir .indications .item br
    {
        display: none;
    }


    .esperavir .indications .notice
    {
        font-size: 17px;

        padding: 32px;
    }



    .esperavir .mode_app .block_head .link
    {
        width: 100%;
        margin-top: 16px;
    }


    .esperavir .mode_app .items
    {
        font-size: 17px;
    }


    .esperavir .mode_app .items .icon
    {
        width: 48px;
        height: 48px;
    }

    .esperavir .mode_app .items .icon + *
    {
        width: calc(100% - 72px);
    }


    .esperavir .mode_app .img
    {
        max-width: 100%;
    }


    .esperavir .mode_app .exp
    {
        font-size: 20px;

        margin-top: 40px;
    }



    /*-----------
        Notes
    -----------*/
    .notes .spoler_btn
    {
        font-size: 20px;

        padding: 32px 0;
    }


    .notes .spoler_btn .icon
    {
        width: 24px;
        height: 12px;
    }


    .notes .data
    {
        font-size: 16px;

        padding: 40px 0;
    }



    /*-----------------
        Favipiravir
    -----------------*/
    .favipiravir .mechanisn
    {
        padding: 52px 0;
    }


    .favipiravir .mechanisn .title
    {
        font-size: 22px;
        line-height: 28px;

        margin-bottom: 32px;
    }


    .favipiravir .mechanisn .item
    {
        font-size: 16px;
        line-height: 24px;
    }

    .favipiravir .mechanisn .item + .item
    {
        margin-top: 20px;
    }


    .favipiravir .mechanisn .item .number
    {
        font-size: 34px;
        line-height: 52px;

        width: 60px;
        height: 60px;
    }

    .favipiravir .mechanisn .item .number + *
    {
        width: calc(100% - 80px);
    }


    .favipiravir .mechanisn .item br
    {
        display: none;
    }



    .favipiravir .about
    {
        margin-bottom: 60px;
    }


    .favipiravir .about .data
    {
        font-size: 18px;
    }

    .favipiravir .about .data > * + *
    {
        margin-top: 24px;
    }



    .favipiravir .efficiency
    {
        margin-bottom: 60px;
        padding: 52px 0;
    }


    .favipiravir .efficiency .title
    {
        font-size: 22px;

        margin-bottom: 32px;
        padding-right: 0;
    }


    .favipiravir .efficiency .items
    {
        font-size: 16px;
    }


    .favipiravir .efficiency .col
    {
        width: 100%;
    }

    .favipiravir .efficiency .col + .col
    {
        margin-top: 12px;
    }


    .favipiravir .efficiency .col > *
    {
        padding-left: 24px;
    }

    .favipiravir .efficiency .col > *:before
    {
        top: 5px;

        width: 10px;
        height: 10px;
    }


    .favipiravir .efficiency img
    {
        display: none;
    }


    .favipiravir .efficiency .text
    {
        font-size: 16px;

        margin-top: 40px;
        padding: 28px;
    }



    .favipiravir .covid19 .block_head
    {
        margin-bottom: 40px;
    }


    .favipiravir .covid19 .text
    {
        font-size: 20px;
    }



    .favipiravir .compare
    {
        margin-bottom: 60px;
        padding: 52px 0;
    }


    .favipiravir .compare .item
    {
        width: 100%;
    }

    .favipiravir .compare .item + .item
    {
        margin-top: 40px;
    }


    .favipiravir .compare .item .thumb
    {
        height: 240px;
        margin-bottom: 20px;
    }


    .favipiravir .compare .text
    {
        font-size: 20px;
    }



    .favipiravir .torelability .block_title
    {
        font-size: 24px;

        margin-bottom: 40px;
    }


    .favipiravir .torelability .col_left .text
    {
        font-size: 16px;

        padding: 24px;
    }

    .favipiravir .torelability .col_left .text:after
    {
        bottom: -10px;

        width: 20px;
        height: 20px;
    }


    .favipiravir .torelability .col_left img
    {
        margin-top: 28px;
    }


    .favipiravir .torelability .col_right .text
    {
        font-size: 19px;
    }


    .favipiravir .torelability .info
    {
        font-size: 16px;

        margin-top: 40px;
        padding: 24px;
    }



    .favipiravir .research .block_title
    {
        font-size: 24px;

        margin-bottom: 40px;
    }


    .favipiravir .research .col_left .text
    {
        font-size: 17px;
    }


    .favipiravir .research .col_right
    {
        margin-top: 40px;
    }


    .favipiravir .research .col_right .text
    {
        font-size: 17px;
    }


    .favipiravir .research .message
    {
        font-size: 20px;

        margin-top: 52px;
        padding: 24px;
    }



    .favipiravir .performance
    {
        margin-bottom: 60px;
    }


    .favipiravir .performance .data
    {
        padding: 24px;
    }


    .favipiravir .performance .info .title
    {
        font-size: 18px;
    }

    .favipiravir .performance .info .title sup
    {
        font-size: 10px;
        line-height: 18px;
    }


    .favipiravir .performance .info .desc
    {
        font-size: 17px;

        margin-top: 24px;
    }


    .favipiravir .performance .image
    {
        height: 240px;
        padding: 24px;
    }



    .favipiravir .therapy .title
    {
        font-size: 20px;
        line-height: 140%;

        padding: 60px 0;
    }


    .favipiravir .therapy .exp
    {
        font-size: 20px;

        margin-top: 40px;
    }



    /*---------------
        Areplivir
    ---------------*/
    .areplivir .head
    {
        margin-bottom: 60px;
        padding: 52px 40px;

        border-radius: 40px;
    }


    .areplivir .head .title
    {
        font-size: 36px;

        margin-bottom: 24px;
    }


    .areplivir .head .desc
    {
        font-size: 18px;
    }


    .areplivir .head .link a
    {
        width: 180px;
        padding: 12px;
    }



    .areplivir .block_head
    {
        margin-bottom: 40px;
    }



    .areplivir .symptoms
    {
        margin-bottom: 60px;
    }


    .areplivir .symptoms .item
    {
        padding: 32px;

        border-radius: 40px;
    }


    .areplivir .symptoms .item .title
    {
        font-size: 20px;

        margin-bottom: 24px;
    }


    .areplivir .symptoms li
    {
        font-size: 16px;

        padding-left: 80px;
    }


    .areplivir .symptoms ul
    {
        margin-left: 0;
    }

    .areplivir .symptoms ul li
    {
        width: 100%;
        margin-left: 0;
    }



    .areplivir .number_ill
    {
        margin-bottom: 60px;
        padding: 52px 0;
    }


    .areplivir .number_ill .title
    {
        font-size: 28px;
        line-height: 34px;

        margin-bottom: 28px;
    }


    .areplivir .number_ill .item
    {
        width: 100%;
    }

    .areplivir .number_ill .item + .item
    {
        margin-top: 32px;
        margin-left: auto;
    }


    .areplivir .number_ill .item .label
    {
        font-size: 20px;
    }

    .areplivir .number_ill .item .val
    {
        font-size: 28px;
    }



    .areplivir .viruses
    {
        margin-bottom: 60px;
    }


    .areplivir .viruses .block_head
    {
        margin-bottom: 40px;
    }


    .areplivir .viruses .info
    {
        padding: 32px;
    }


    .areplivir .viruses .info .title
    {
        font-size: 22px;
        line-height: 26px;
    }

    .areplivir .viruses .info .desc
    {
        font-size: 17px;
    }


    .areplivir .viruses .data
    {
        padding: 32px;
    }


    .areplivir .viruses .data ul li
    {
        font-size: 17px;
    }



    .areplivir .what_is
    {
        padding: 52px 0;
    }


    .areplivir .what_is .block_head
    {
        margin-bottom: 32px;
    }


    .areplivir .what_is .block_title
    {
        font-size: 20px;
    }


    .areplivir .what_is .col .definition
    {
        font-size: 17px;
        line-height: 140%;

        padding: 32px;
    }


    .areplivir .what_is .col .definition img
    {
        position: relative;
        top: 0;
        right: 0;

        width: auto;
        margin-top: 12px;
    }


    .areplivir .what_is .efficiency
    {
        padding: 32px;
    }


    .areplivir .what_is .efficiency .title
    {
        font-size: 20px;
    }


    .areplivir .what_is .efficiency ul
    {
        column-gap: 0;
        column-count: 1;
    }

    .areplivir .what_is .efficiency li
    {
        font-size: 16px;
    }

    .areplivir .what_is .efficiency li:before
    {
        width: 12px;
        height: 12px;
    }



    .areplivir .efficiency_covid
    {
        margin-bottom: 60px;
    }


    .areplivir .efficiency_covid .block_head
    {
        margin-bottom: 40px;
    }


    .areplivir .efficiency_covid .row
    {
        margin-bottom: -40px;
    }

    .areplivir .efficiency_covid .row > *
    {
        margin-bottom: 40px;
    }


    .areplivir .efficiency_covid .item .thumb
    {
        height: auto;
        margin-bottom: 24px;
    }


    .areplivir .efficiency_covid .item .desc
    {
        font-size: 18px;
    }



    .areplivir .safety_use
    {
        margin-bottom: 60px;
    }


    .areplivir .safety_use .data
    {
        padding: 32px;

        border-radius: 40px;
    }


    .areplivir .safety_use .block_head
    {
        margin-bottom: 32px;
    }


    .areplivir .safety_use .sub_title
    {
        font-size: 20px;
    }


    .areplivir .safety_use .desc
    {
        font-size: 17px;
    }



    .areplivir .results
    {
        padding: 50px 0;
    }


    .areplivir .results .block_title
    {
        font-size: 22px;

        margin-bottom: 40px;
    }


    .areplivir .results .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .areplivir .results .row > *
    {
        width: calc(50% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }


    .areplivir .results .item
    {
        height: 240px;
        padding: 20px;

        border-radius: 24px;
    }



    /*-------------
        Skyvira
    -------------*/
    .skyvira .head .data
    {
        padding: 48px;

        border-radius: 32px;
    }


    .skyvira .head .title
    {
        font-size: 22px;
    }


    .skyvira .head .link
    {
        margin-top: 24px;
    }

    .skyvira .head .link a
    {
        width: 200px;
        padding: 14px;
    }


    .skyvira .head .img
    {
        max-width: 100%;
    }



    .skyvira .risk_groups .block_title
    {
        font-size: 36px;
    }


    .skyvira .risk_groups .col
    {
        margin-left: -28px;
    }

    .skyvira .risk_groups .col > *
    {
        font-size: 14px;
        line-height: 44px;

        margin-left: 28px;
    }


    .skyvira .risk_groups .col span
    {
        padding: 0 24px;
    }



    .skyvira .covid19 .data
    {
        padding: 48px;

        border-radius: 32px;
    }


    .skyvira .covid19 .row
    {
        margin-bottom: -24px;
    }

    .skyvira .covid19 .row > *
    {
        margin-bottom: 24px;
    }


    .skyvira .covid19 .item
    {
        font-size: 16px;
    }

    .skyvira .covid19 .item .icon
    {
        width: 50px;
        height: 50px;
    }

    .skyvira .covid19 .item .icon + *
    {
        width: calc(100% - 70px);
    }


    .skyvira .covid19 .title
    {
        font-size: 18px;

        margin-top: 48px;
    }



    .skyvira .research_results .thumb
    {
        width: 200px;
        height: 200px;
        margin: 0 auto 40px;
    }

    .skyvira .research_results .thumb + *
    {
        width: 100%;
    }


    .skyvira .research_results .title
    {
        font-size: 22px;
    }


    .skyvira .research_results .items
    {
        margin-top: 40px;
        margin-bottom: -24px;
    }

    .skyvira .research_results .items > *
    {
        margin-bottom: 24px;
    }


    .skyvira .research_results .item
    {
        font-size: 16px;
    }

    .skyvira .research_results .item .icon
    {
        width: 50px;
        height: 50px;
    }

    .skyvira .research_results .item .icon + *
    {
        width: calc(100% - 70px);
    }



    .skyvira .dynamics
    {
        padding: 60px 0;
    }


    .skyvira .dynamics .block_title
    {
        font-size: 26px;

        margin-bottom: 30px;
    }


    .skyvira .dynamics .item
    {
        font-size: 16px;

        width: 100%;
        margin-top: 28px;
    }

    .skyvira .dynamics .item .val
    {
        font-size: 32px;
    }



    .skyvira .mode_app .block_head
    {
        margin-bottom: 30px;
    }


    .skyvira .mode_app .items
    {
        font-size: 18px;
        line-height: 130%;

        width: 100%;
    }


    .skyvira .mode_app .item + .item
    {
        margin-top: 20px;
    }


    .skyvira .mode_app .items .icon
    {
        width: 60px;
        height: 60px;
    }

    .skyvira .mode_app .items .icon + *
    {
        width: calc(100% - 88px);
    }

    .skyvira .mode_app .items ul li:before
    {
        top: 8px;
    }


    .skyvira .mode_app .link
    {
        width: 100%;
        margin-top: 24px;
    }

    .skyvira .mode_app .link a
    {
        font-size: 17px;
        line-height: 21px;
    }


    .skyvira .mode_app .items
    {
        font-size: 17px;
    }


    .skyvira .mode_app .items .icon
    {
        width: 48px;
        height: 48px;
    }

    .skyvira .mode_app .items .icon + *
    {
        width: calc(100% - 72px);
    }


    .skyvira .mode_app .notice
    {
        font-size: 16px;
        line-height: 22px;
    }

    .skyvira .mode_app .notice img
    {
        width: 50px;
        height: 50px;
    }

    .skyvira .mode_app .notice img + *
    {
        max-width: calc(100% - 90px);
        margin-left: 20px;
    }


    .skyvira .mode_app .exp
    {
        font-size: 20px;

        margin-top: 40px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 60px 0;
    }


    footer .logo .name
    {
        font-size: 32px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        border-radius: 32px;
    }


    .video_modal
    {
        padding: 24px;
    }


    .video_modal .thumb
    {
        margin-bottom: 20px;
    }

    .video_modal .thumb .icon
    {
        width: 100px;
        height: 100px;
    }

    .video_modal .thumb .icon svg
    {
        width: 32px;
        height: 36px;
    }


    .video_modal .title
    {
        font-size: 22px;
    }

    .video_modal .desc
    {
        font-size: 16px;
    }
}
