@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/
    .wrap
    {
        zoom: .8;
    }

    @-moz-document url-prefix()
    {
        html
        {
            width: calc(100% / .8);
            height: calc(100% / .8);

            transform: scale(.8);
            transform-origin: left top;
        }
    }



    /*-------------
        Socials
    -------------*/
    .socials
    {
        right: 40px;
    }
}
